body{
    background-color: #08244a;
    color: white;
}

.header_container{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

.header {
    background-color: #040d1b;
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%;
    z-index: 2;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side {
    display: flex;
    align-items: center;
}

.title {
    font-size: 26px;
    margin: 0;
}

#nav {
    display: flex;
    color: aquamarine;
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav li {
    margin-right: 15px;
}

#nav li a {
    text-decoration: none;
    color: #ddd;
}

.right-side {
    display: flex;
    align-items: center;
    right: 5%;
}

.right-side input[type="search"] {
    padding: 5px 10px;
    font-size: 16px;
    margin-right: 10px;
}

.right-side .btn {
    padding: 5px 15px;
    margin-left: 5px;
    cursor: pointer;
    background-color: #C3CBDD;
    color: black;
    border: none;
    border-radius: 4px;
}

.right-side .btn:hover {
    background-color: #AFBAD2;
}

.main_part {
    padding-top: 5%;
}

.main_part p {
    font-size: 16px;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Side__managing{
    display: block;
    text-align:center;
    width: 30%;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style-type: none;
    padding: 0;
  }
  
  .item-card {
    background-color: #D1D3EA;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
  }
  
  .item-card:hover {
    transform: scale(1.05);
  }
  
  .item-card__image {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .item-card__body {
    padding: 10px;
  }
  
  .item-card__title {
    color: black;
    font-size: 18px;
    font-weight: bold;
  }
  
  .item-card__text {
    color: #555;
    margin-bottom: 5px;
  }

  .item-card__edit-button{
    color: #040d1b;
    background-color: #FFEE4C;
    border-color: #ddd;
    }

   .item-card__edit-button a {
    text-decoration: none;
    color: #040d1b;
    }

  .item-card__edit-button:hover {
    color: #FFEE4C;
    background-color: #040d1b;
    border-color: #040d1b;
    }

  .item-card__edit-button:hover a {
    text-decoration: none;
    color: #FFEE4C;
    }

  .item-card__delete-button{
    color: #040d1b;
    background-color: #FFEE4C;
    border-color: #ddd;
    }
    
  .item-card__delete-button:hover {
    color: #FFEE4C;
    background-color: #040d1b;
    border-color: #040d1b;
    }
  
  .summary-text {
    font-size: 16px;
    font-weight: bold;
  }