body{
    background-color: rgb(11, 11, 125);
    color: white;
}

.header_container{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

.header {
    background-color: black;
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%;
    z-index: 2;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side {
    display: flex;
    align-items: center;
}

.title {
    font-size: 26px;
    margin: 0;
}

#nav {
    display: flex;
    color: aquamarine;
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav li {
    margin-right: 15px;
}

#nav li a {
    text-decoration: none;
    color: #333;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto; 
    padding: 0 20px; 
    box-sizing: border-box; 
}

.right-side {
    display: flex;
    align-items: center;
    right: 5%;
}

.right-side input[type="search"] {
    padding: 5px 10px;
    font-size: 16px;
    margin-right: 10px;
}

.right-side .btn {
    padding: 5px 15px;
    margin-left: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
}

.right-side .btn:hover {
    background-color: #0056b3;
}

.main_part {
    padding-top: 5%;
}

.main_part p {
    font-size: 16px;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Side__managing{
    display: block;
    text-align:center;
    width: 30%;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style-type: none;
    padding: 0;
  }
  
  .item-card {
    background-color: white;
    border: 1px solid #ddd;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
  }
  
  .item-card:hover {
    transform: scale(1.05);
  }
  
  .item-card__image {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .item-card__body {
    padding: 10px;
    background-color: white;
  }
  
  .item-card__title {
    color: black;
    font-size: 18px;
    font-weight: bold;
  }
  
  .item-card__text {
    color: #555;
    margin-bottom: 5px;
  }
  
  .summary-text {
    font-size: 16px;
    font-weight: bold;
  }