#other_s {
    padding: 50px;
    background-color: #f4f4f4;
    text-align: center;
  }
  
  .image-row {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }
  
  .image-container {
    text-align: center;
    flex: 1;
    margin: 0 10px;
  }
  
  .image {
    width: auto;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  